In [12]:
# clone data from github

repo_url = "https://github.com/uvasri435/PhonePe-Transaction.git"
destination = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/aggregated/insurance/country/india/state"
from git import Repo
Repo.clone_from(repo_url,destination)

GitCommandError: Cmd('git') failed due to: exit code(128)
  cmdline: git clone -v -- https://github.com/uvasri435/PhonePe-Transaction.git C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/aggregated/insurance/country/india/state
  stderr: 'fatal: destination path 'C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/aggregated/insurance/country/india/state' already exists and is not an empty directory.
'

In [10]:
#loading  direct the path to get the data as states
import os
path= "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/aggregated/insurance/country/india/state"
Agg_state_list=os.listdir(path)
Agg_state_list

['Andaman & Nicobar',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya-pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Utta Pradesh',
 'Uttarakhand',
 'West Bengal']

In [27]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

#This is to extract the data's to create a dataframe for aggregated_transaction

clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [29]:
Agg_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman&Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman&Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman&Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman&Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman&Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,West Bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,West Bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,West Bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,West Bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,West Bengal,2024,4,Others,421806,5.053641e+08

In [34]:
#Aggregated insurance file

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path  ="C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe for aggregated_insurance

clm={'State':[], 'Year':[],'Quater':[],'Insurance_type':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Insurance_type'].append(Name)
              clm['Insurance_count'].append(count)
              clm['Insurance_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Insurance =pd.DataFrame(clm)

In [36]:
Agg_Insurance

,State,Year,Quater,Insurance_type,Insurance_count,Insurance_amount
0,Andaman & Nicobar,2020,2,Insurance,6,1360.0
1,Andaman & Nicobar,2020,3,Insurance,41,15380.0
2,Andaman & Nicobar,2020,4,Insurance,124,157975.0
3,Andaman & Nicobar,2021,1,Insurance,225,244266.0
4,Andaman & Nicobar,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,West Bengal,2023,4,Insurance,72712,100365562.0
678,West Bengal,2024,1,Insurance,79576,104987909.0
679,West Bengal,2024,2,Insurance,67048,89476633.0
680,West Bengal,2024,3,Insurance,77158,107451766.0
681,West Bengal,2024,4,Insurance,91719,120602777.0

In [45]:
# Aggregated user Dataframe
import pandas as pd
import json
import os

path = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/aggregated/user/country/india/state/"
Agg_state_list = os.listdir(path)

# Create two empty DataFrames
agg_user_clm = {'State':[], 'Year':[],'Quarter':[], 'RegisteredUsers':[], 'AppOpens':[]}
device_user_clm = {'State':[], 'Year':[],'Quarter':[], 'Brand':[], 'UserCount':[], 'Percentage':[]}

# Start extracting
for i in Agg_state_list:
    p_i = path + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                
                # Extract aggregated users (registered users and app opens)
                registered_users = D['data']['aggregated']['registeredUsers']
                app_opens = D['data']['aggregated']['appOpens']
                
                agg_user_clm['State'].append(i)
                agg_user_clm['Year'].append(j)
                agg_user_clm['Quarter'].append(int(k.strip('.json')))
                agg_user_clm['RegisteredUsers'].append(registered_users)
                agg_user_clm['AppOpens'].append(app_opens)
                users_by_device = D['data']['usersByDevice']

if users_by_device is not None:   
    for device in users_by_device:
        brand = device['brand']
        count = device['count']
        percentage = device['percentage']
        
        device_user_clm['State'].append(i)
        device_user_clm['Year'].append(j)
        device_user_clm['Quarter'].append(int(k.strip('.json')))
        device_user_clm['Brand'].append(brand)
        device_user_clm['UserCount'].append(count)
        device_user_clm['Percentage'].append(percentage)

# Create DataFrames
Agg_User = pd.DataFrame(agg_user_clm)

In [41]:
Agg_User

                  State  Year  Quarter  RegisteredUsers    AppOpens
0     Andaman & Nicobar  2018        1             6740           0
1     Andaman & Nicobar  2018        2             9405           0
2     Andaman & Nicobar  2018        3            12149           0
3     Andaman & Nicobar  2018        4            15222           0
4     Andaman & Nicobar  2019        1            18596           0
...                 ...   ...      ...              ...         ...
1003        West Bengal  2023        4         30064546  1467442959
1004        West Bengal  2024        1         31306843   633526507
1005        West Bengal  2024        2         32540397   704276274
1006        West Bengal  2024        3         33612828   709864323
1007        West Bengal  2024        4         34750181  1994940763

[1008 rows x 5 columns]

In [42]:
# creating a dataframe for Map_transaction
import pandas as pd
import json
import os

# This is to direct the path to get the data as states
path = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/map/transaction/hover/country/india/state/"
Agg_state_list = os.listdir(path)

# This is to extract the data's to create a dataframe for map transaction


clm = {'State': [], 'Year': [], 'Quater': [], 'type': [], 'count': [], 'amount': []}  

for i in Agg_state_list:
    p_i = path + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            try:
                Data = open(p_k, 'r')
                D = json.load(Data)
                if 'data' in D and 'hoverDataList' in D['data']:  # Check for data and hoverDataList
                    for z in D['data']['hoverDataList']:
                        Name = z['name']  # Corrected variable name to Name
                        count = z['metric'][0]['count']
                        amount = z['metric'][0]['amount']
                        clm['type'].append(Name)  # Corrected key to 'type'
                        clm['count'].append(count)
                        clm['amount'].append(amount)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quater'].append(int(k.strip('.json')))
                else:
                    print(f"Warning: 'data' or 'hoverDataList' not found in {p_k}. Skipping.")
            except (FileNotFoundError, json.JSONDecodeError, KeyError) as e:
                print(f"Error processing file {p_k}: {e}")
            finally:
                if 'Data' in locals() and not Data.closed:
                    Data.close()

# Successfully created a dataframe
Agg_maptrans = pd.DataFrame(clm)

In [296]:
Agg_maptrans

,State,Year,Quater,type,count,amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
20599,west-bengal,2024,4,alipurduar district,15875637,2.099251e+10
20600,west-bengal,2024,4,paschim bardhaman district,56616799,6.968735e+10
20601,west-bengal,2024,4,nadia district,65274337,1.079320e+11
20602,west-bengal,2024,4,birbhum district,36905213,5.778701e+10
20603,west-bengal,2024,4,purba medinipur district,67833775,1.142771e+11

In [45]:
# creating a dataframe for Map_insurance

import pandas as pd
import json
import os

# This is to direct the path to get the data as states
path = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/map/insurance/hover/country/india/state/"
Agg_state_list = os.listdir(path)
# This is to extract the data's to create a dataframe for map transaction

clm = {'State': [], 'Year': [], 'Quater': [], 'type': [], 'count': [], 'amount': []}  # Corrected ' type' to 'type'

for i in Agg_state_list:
    p_i = path + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            try:
                Data = open(p_k, 'r')
                D = json.load(Data)
                if 'data' in D and 'hoverDataList' in D['data']:  # Check for data and hoverDataList
                    for z in D['data']['hoverDataList']:
                        Name = z['name']  # Corrected variable name to Name
                        count = z['metric'][0]['count']
                        amount = z['metric'][0]['amount']
                        clm['type'].append(Name)  # Corrected key to 'type'
                        clm['count'].append(count)
                        clm['amount'].append(amount)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quater'].append(int(k.strip('.json')))
                else:
                    print(f"Warning: 'data' or 'hoverDataList' not found in {p_k}. Skipping.")
            except (FileNotFoundError, json.JSONDecodeError, KeyError) as e:
                print(f"Error processing file {p_k}: {e}")
            finally:
                if 'Data' in locals() and not Data.closed:
                    Data.close()

# Successfully created a dataframe
Agg_mapInsurance = pd.DataFrame(clm)

In [310]:
Agg_Insurance

,State,Year,Quater,type,count,amount
0,andaman-&-nicobar-islands,2020,2,south andaman district,3,795.0
1,andaman-&-nicobar-islands,2020,2,nicobars district,3,565.0
2,andaman-&-nicobar-islands,2020,3,north and middle andaman district,1,281.0
3,andaman-&-nicobar-islands,2020,3,south andaman district,35,13651.0
4,andaman-&-nicobar-islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,west-bengal,2024,4,alipurduar district,1023,1613143.0
13872,west-bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,west-bengal,2024,4,nadia district,3807,5031294.0
13874,west-bengal,2024,4,birbhum district,1818,2423290.0
13875,west-bengal,2024,4,purba medinipur district,3559,4439061.0

In [46]:
# creating a dataframe for map user

import pandas as pd
import json
import os

# This is to direct the path to get the data as states
path = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/map/user/hover/country/india/state/"
Agg_state_list = os.listdir(path)

# This is to extract the data to create a dataframe
clm = {'State': [], 'Year': [], 'Quater': [], 'type': [], 'count': [], 'amount': []}

for i in Agg_state_list:
    p_i = path + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            try:
                Data = open(p_k, 'r')
                D = json.load(Data)
                if 'data' in D and 'hoverData' in D['data']:  # Changed 'hoverDataList' to 'hoverData'
                    for state_name, state_data in D['data']['hoverData'].items(): #iterating through the items in the dict
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quater'].append(int(k.strip('.json')))
                        clm['type'].append(state_name)  # Use state name as type
                        clm['count'].append(state_data['registeredUsers'])
                        clm['amount'].append(state_data['appOpens'])
                else:
                    print(f"Warning: 'data' or 'hoverData' not found in {p_k}. Skipping.") #changed to hoverData
            except (FileNotFoundError, json.JSONDecodeError, KeyError) as e:
                print(f"Error processing file {p_k}: {e}")
            finally:
                if 'Data' in locals() and not Data.closed:
                    Data.close()

# Create the dataframe
Agg_MapUser = pd.DataFrame(clm)

In [322]:
Agg_MapUser

,State,Year,Quater,type,count,amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
20603,west-bengal,2024,4,alipurduar district,475688,31842355
20604,west-bengal,2024,4,paschim bardhaman district,1468252,80543469
20605,west-bengal,2024,4,nadia district,1861738,98740305
20606,west-bengal,2024,4,birbhum district,1114220,73465525
20607,west-bengal,2024,4,purba medinipur district,1717074,108350777

In [47]:
# creating a dataframe for Top transaction
import pandas as pd
import json
import os

# Set the path correctly
path = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/top/transaction/country/india/state/"
Agg_state_list = os.listdir(path)

# Initialize the collection dictionary
clm = {'State': [], 'Year': [], 'Quarter': [], 'entityName': [], 'type': [], 'count': [], 'amount': []}

# Loop through each state
for state in Agg_state_list:
    state_path = os.path.join(path, state)
    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        for file in os.listdir(year_path):
            if file.endswith(".json"):
                file_path = os.path.join(year_path, file)
                try:
                    with open(file_path, 'r') as f:
                        data = json.load(f)

                        if 'data' in data:
                            for entity_type in ['states', 'districts', 'pincodes']:
                                entity_data = data['data'].get(entity_type)

                                # Proceed only if entity_data is a non-empty list
                                if isinstance(entity_data, list) and entity_data:
                                    for entity in entity_data:
                                        entity_name = entity.get('entityName')
                                        metric = entity.get('metric', {})
                                        count = metric.get('count')
                                        amount = metric.get('amount')

                                        if entity_name and count is not None and amount is not None:
                                            clm['State'].append(state)
                                            clm['Year'].append(year)
                                            clm['Quarter'].append(int(file.replace('.json', '')))
                                            clm['entityName'].append(entity_name)
                                            clm['type'].append(entity_type)
                                            clm['count'].append(count)
                                            clm['amount'].append(amount)
                                else:
                                    # No warning if empty or not list, just skip silently
                                    continue
                        else:
                            print(f"Warning: 'data' key not found in file {file_path}")

                except (FileNotFoundError, json.JSONDecodeError, KeyError, TypeError) as e:
                    print(f"Error processing file {file_path}: {e}")

# Create final DataFrame
Top_Trans = pd.DataFrame(clm)

In [346]:
Top_Trans

,State,Year,Quarter,entityName,type,count,amount
0,andaman-&-nicobar-islands,2018,1,south andaman,districts,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,nicobars,districts,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,districts,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,1,744101,pincodes,1622,2.769298e+06
4,andaman-&-nicobar-islands,2018,1,744103,pincodes,1223,2.238042e+06
...,...,...,...,...,...,...,...
18288,west-bengal,2024,4,711101,pincodes,6753348,1.049483e+10
18289,west-bengal,2024,4,700059,pincodes,6662715,8.009476e+09
18290,west-bengal,2024,4,700039,pincodes,6575693,9.018748e+09
18291,west-bengal,2024,4,734001,pincodes,6432082,8.996529e+09
18292,west-bengal,2024,4,733134,pincodes,6313560,1.050259e+10

In [49]:
# creating a dataframe for Top Insurance

import pandas as pd
import json
import os

# Set the correct path
path = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/top/insurance/country/india/state/"
Agg_state_list = os.listdir(path)

# Prepare the column structure
clm = {'State': [], 'Year': [], 'Quarter': [], 'entityName': [], 'type': [], 'count': [], 'amount': []}

# Start looping through the files
for state in Agg_state_list:
    state_path = os.path.join(path, state)
    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        for file in os.listdir(year_path):
            if file.endswith(".json"):
                file_path = os.path.join(year_path, file)
                try:
                    with open(file_path, 'r') as Data:
                        D = json.load(Data)

                        if 'data' in D:
                            for entity_type in ['states', 'districts', 'pincodes']:
                                entity_data = D['data'].get(entity_type)

                                # Check if entity_data is a list and not empty
                                if isinstance(entity_data, list) and entity_data:
                                    for entity in entity_data:
                                        name = entity.get('entityName')
                                        metric = entity.get('metric', {})
                                        count = metric.get('count')
                                        amount = metric.get('amount')

                                        if name and count is not None and amount is not None:
                                            clm['State'].append(state)
                                            clm['Year'].append(year)
                                            clm['Quarter'].append(int(file.replace('.json', '')))
                                            clm['entityName'].append(name)
                                            clm['type'].append(entity_type)
                                            clm['count'].append(count)
                                            clm['amount'].append(amount)
                                else:
                                    continue  # Silent skip if not a list
                        else:
                            print(f"Warning: 'data' key not found in file {file_path}")

                except (FileNotFoundError, json.JSONDecodeError, KeyError) as e:
                    print(f"Error processing file {file_path}: {e}")

# Successfully created the dataframe
Top_Insurance = pd.DataFrame(clm)

In [ ]:
Top_Insurance

In [ ]:
# creating a dataframe for Top user

import pandas as pd
import json
import os

# This is to direct the path to get the data as states
path = "C:/Users/uva61/OneDrive/Desktop/project/pulse-master/data/top/user/country/india/state/"
Agg_state_list = os.listdir(path)

# This is to extract the data to create a dataframe
clm = {'State': [], 'Year': [], 'Quarter': [], 'entity_type': [], 'name': [], 'registeredUsers': []}

# Loop through the folders
for state in Agg_state_list:
    state_path = os.path.join(path, state)
    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        for file in os.listdir(year_path):
            if file.endswith('.json'):
                file_path = os.path.join(year_path, file)
                try:
                    with open(file_path, 'r') as Data:
                        D = json.load(Data)

                        # Check if 'data' key exists
                        if 'data' in D:
                            for entity_type in ['states', 'districts', 'pincodes']:
                                entity_data = D['data'].get(entity_type)

                                if isinstance(entity_data, list) and entity_data:
                                    for entity in entity_data:
                                        name = entity.get('name')
                                        registeredUsers = entity.get('registeredUsers')

                                        if name is not None and registeredUsers is not None:
                                            clm['State'].append(state)
                                            clm['Year'].append(year)
                                            clm['Quarter'].append(int(file.replace('.json', '')))
                                            clm['entity_type'].append(entity_type)
                                            clm['name'].append(name)
                                            clm['registeredUsers'].append(registeredUsers)
                                else:
                                    continue  # silent skip
                        else:
                            print(f"Warning: 'data' key not found in file {file_path}")

                except (FileNotFoundError, json.JSONDecodeError, KeyError) as e:
                    print(f"Error processing file {file_path}: {e}")

# Create the dataframe
Top_User = pd.DataFrame(clm)

In [ ]:
Top_User

In [ ]:
# Connecting to MySQL Database 
import mysql.connector 
from mysql.connector import Error 

try:
    # Setting up the connection 
    connection = mysql.connector.connect(
        host = '127.0.0.1',
        user = 'root',
        password = 'uvasripradeep', 
        database = 'Phonepe'
    )

    if connection.is_connected():
        print('Connection to MySQL database is successful.')

except Error as e:
    print('Error while connecting to MySQL.')

finally:
    if connection.is_connected():
        connection.close()
        print('MySQL connection closed.')

In [267]:
!pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\uva61\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in c:\users\uva61\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\uva61\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\uva61\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [70]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root'  
db_password = 'uvasripradeep' 
db_host = '127.0.0.1',  
db_database = 'Phonepe'  

# Create the database engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")


#S0ave the DataFrame to the MySQL table
Agg_Trans.to_sql(name='aggregated_transactions', con=engine, if_exists='replace', index=False)

print("DataFrame successfully written to MySQL!")

DataFrame successfully written to MySQL!

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root'  
db_password = 'uvasripradeep' 
db_host = '127.0.0.1',  
db_database = 'Phonepe' 
# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Agg_Insurance.to_sql(name='aggregated_insurance', con=engine, if_exists='replace', index=False)

print("Insurance DataFrame successfully uploaded to MySQL!")

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root'  
db_password = 'uvasripradeep'  
db_host = '127.0.0.1',  
db_database = 'Phonepe'  

# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Agg_User.to_sql(name='aggregated_users', con=engine, if_exists='replace', index=False)

print("aggregated_users DataFrame successfully uploaded to MySQL!")

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root' 
db_password = 'uvasripradeep'  
db_host = '127.0.0.1',  
db_database = 'Phonepe'
# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Agg_maptrans.to_sql(name='map_transaction', con=engine, if_exists='replace', index=False)

print("Map_transaction DataFrame successfully uploaded to MySQL!")

In [318]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root'  
db_password = 'uvasripradeep'  
db_host = '127.0.0.1', 
db_database = 'Phonepe' 

# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Agg_mapInsurance.to_sql(name='map_insurance', con=engine, if_exists='replace', index=False)

print("Map_Insurance DataFrame successfully uploaded to MySQL!")

Map_Insurance DataFrame successfully uploaded to MySQL!

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root' 
db_password = 'uvasripradeep' 
db_host = '127.0.0.1', 
db_database = 'Phonepe' 
# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Agg_MapUser.to_sql(name='map_user', con=engine, if_exists='replace', index=False)

print("Map_Insurance DataFrame successfully uploaded to MySQL!")

In [102]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root'  
db_password = 'uvasripradeep' 
db_host = '127.0.0.1',  
db_database = 'Phonepe'  
# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Top_Trans.to_sql(name='top_transaction', con=engine, if_exists='replace', index=False)

print("Top transaction DataFrame successfully uploaded to MySQL!")

Top transaction DataFrame successfully uploaded to MySQL!

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root'  
db_password = 'uvasripradeep'  
db_host = '127.0.0.1',  
db_database = 'Phonepe'  
# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Top_Insurance.to_sql(name='top_insurance', con=engine, if_exists='replace', index=False)

print("Top Insurance DataFrame successfully uploaded to MySQL!")

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

# Connect to MySQL Database
db_username = 'root'  
db_password = 'uvasripradeep' 
db_host = '127.0.0.1', 
db_database = 'Phonepe' 
# Create SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}")

#Write to MySQL
Top_User.to_sql(name='top_User', con=engine, if_exists='replace', index=False)

print("Top Users DataFrame successfully uploaded to MySQL!")

In [98]:
#Business Cases
# Decoding Transaction Dynamics on PhonePe

import pandas as pd
from sqlalchemy import create_engine

# Database connection details
user = 'root'
password = 'uvasripradeep'
host = '127.0.0.1'
database = 'Phonepe'

# Create SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}')


# SQL query to aggregate transaction data
query = """
SELECT
    State,
    Year,
    Quarter,
    Transaction_type,
    SUM(Transaction_count) AS Total_Transaction_Count,
    SUM(Transaction_amount) AS Total_Transaction_Amount
FROM aggregated_transactions
GROUP BY State, Year, Quarter, Transaction_type
ORDER BY State, Year, Quarter, Transaction_type;
"""

# Execute query and load into DataFrame
df = pd.read_sql(query, engine)

# Save DataFrame to Excel
output_file = 'aggregated_transactions_summary.xlsx'
df.to_excel(output_file, index=False)
print(f"Data exported successfully to {output_file}")

Data exported successfully to aggregated_transactions_summary.xlsx

In [96]:
#Insurance Penetration and Growth Potential Analysis

import pandas as pd
from sqlalchemy import create_engine

# MySQL connection details
user = 'root'
password = 'uvasripradeep'
host = '127.0.0.1'
database = 'Phonepe'

# Create SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}')

# Query to get insurance summary
query = """
SELECT
    State,
    Year,
    SUM(Insurance_count) AS Total_Insurance_Count,
    SUM(Insurance_amount) AS Total_Insurance_Amount
FROM aggregated_insurance
GROUP BY State, Year
ORDER BY State, Year;
"""

# Use the engine with pandas to run the query and export to Excel
df_insurance_summary = pd.read_sql(query, engine)

# Export to Excel
output_file = 'insurance_summary_by_state_year.xlsx'
df_insurance_summary.to_excel(output_file, index=False)
print(f"Data exported successfully to {output_file}")

Data exported successfully to insurance_summary_by_state_year.xlsx

In [112]:
#Transaction Analysis Across States and Districts
import pandas as pd
from sqlalchemy import create_engine

# MySQL connection details
user = 'root'
password = 'uvasripradeep'
host = '127.0.0.1'
database = 'Phonepe'

# Create SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}')


# SQL query to get top 10 districts by transaction amount
query = """
SELECT 
    entityName AS District,
    State,
    SUM(count) AS Total_Transactions,
    SUM(amount) AS Total_Amount
FROM top_transaction
WHERE type = 'districts'
GROUP BY entityName, State
ORDER BY Total_Amount DESC Limit 10;

"""

# Run the query and fetch result as DataFrame
df_top_districts = pd.read_sql(query, engine)

# Export to Excel
df_top_districts.to_excel("top_10_districts_by_transaction_amount.xlsx", index=False)
print("Top districts exported to Excel.")

Top districts exported to Excel.

In [110]:
#Top districts by registered users
import pandas as pd
from sqlalchemy import create_engine  # <-- Missing import

# Set specific year and quarter
year = '2022'
quarter = 4

# MySQL connection details
user = 'root'
password = 'uvasripradeep'
host = '127.0.0.1'
database = 'Phonepe'

# Create SQLAlchemy engine (corrected format)
engine = create_engine(f'mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}')

# Corrected SQL query
query = f"""
SELECT 
    name AS District,
    State,
    SUM(registeredUsers) AS Total_Registered_Users
FROM top_user
WHERE entity_type = 'districts'
  AND Year = '{year}'
  AND Quarter = {quarter}
GROUP BY name, State
ORDER BY Total_Registered_Users DESC
LIMIT 10;
"""

# Execute the query
df_top_districts = pd.read_sql(query, engine)

# Export to Excel
df_top_districts.to_excel("top_districts_registered_users.xlsx", index=False)
print("Top districts by registered users exported successfully.")

Top districts by registered users exported successfully.

In [120]:
#Top districts by insurance transactions
import pandas as pd

# Set specific year and quarter
year = '2022'
quarter = 4

# MySQL connection details
user = 'root'
password = 'uvasripradeep'
host = '127.0.0.1'
database = 'Phonepe'

# Create SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{'root'}:{'uvasripradeep'}@{'127.0.0.1'}/{'Phonepe'}')

# Top 10 districts by insurance transaction count and amount for a given year-quarter
query = f"""
SELECT 
    entityName AS District,
    State,
    SUM(count) AS Total_Insurance_Transactions,
    SUM(amount) AS Total_Insurance_Amount
FROM top_insurance

WHERE type = 'districts'
  AND Year = '{year}'
  AND Quarter = {quarter}
GROUP BY entityName, State
ORDER BY Total_Insurance_Transactions DESC
LIMIT 10;
"""

# Execute the query and load result into DataFrame
df_top_districts = pd.read_sql(query, engine)

# Export the results to Excel
df_top_districts.to_excel("top_districts_insurance_transactions.xlsx", index=False)
print("Top districts by insurance transactions exported successfully.")
# Load the Excel file back into a DataFrame
df = pd.read_excel("top_districts_insurance_transactions.xlsx")

# Display the data
print(df)

Top districts by insurance transactions exported successfully.
             District        State  Total_Insurance_Transactions  \
0     bengaluru urban    karnataka                         78817
1                pune  maharashtra                         27018
2             chennai   tamil-nadu                         21588
3               thane  maharashtra                         20282
4     mumbai suburban  maharashtra                         16192
5          rangareddy    telangana                         15005
6         thiruvallur   tamil-nadu                         14602
7  medchal malkajgiri    telangana                         12852
8           hyderabad    telangana                         12819
9          coimbatore   tamil-nadu                         12780

   Total_Insurance_Amount
0               101938016
1                38292195
2                21184965
3                24614041
4                18884324
5                21565381
6                15650997
7                17986714
8                15945642
9                15595276